* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  border: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.font-cinzel {
  font-family: "Cinzel Decorative", serif;
}
.title-22 {
  font-size: 22px;
}
.font-great {
  font-family: "Great Vibes", cursive;
}
.brend-name {
  font-size: 90px;
  color: palevioletred;
  transition: color 1s ease;
  transition: transform 1s ease;
}
.scale:hover {
  transform: scale(1.1);
  color: turquoise;
}
.nav-item {
  margin-left: 50px;
}
.nav-item .nav-link:hover {
  color: #df97a2 !important;
}
#banner-one {
  background-image: url(/assets/images/background-3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 85vh;
  background-position: center;
  background-size: cover;
}
.banner-one h1 {
  font-size: 65px;
  padding-top: 155px;
}
.text {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 25px;
  padding-top: 10px;
}
.font-cormorant {
  font-family: "Cormorant Upright", serif;
}
.font-jost {
  font-family: "Jost", sans-serif;
  font-weight: 300;
}
.product {
  margin-top: -100px;
}
.product a {
  font-size: 25px;
  color: #dd7b8a;
}
#products {
  padding-top: 30px !important;
  padding-bottom: 50px !important;
  height: 150vh;
  background-color: #fafafa;
}
.products {
  margin-top: -450px !important;
}
.product-card {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem !important;
}
.product-card .card-title {
  font-size: 1.5rem !important;
  color: #2c3e50 !important;
  font-weight: 600 !important;
  font-family: "Cormorant Upright", serif !important;
}
.product-card .card-text {
  font-size: 1.1rem !important;
  color: #555 !important;
  font-family: "Jost", sans-serif !important;
}
.product-card {
  width: 22rem !important;
}
.product-card .card-img-top {
  height: 300px !important;
}
