* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
#background {
  background-color: #fcd0cf;
  height: 100vh;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.box {
  width: 55rem;
  height: 35rem;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
}
.left {
  padding: 80px;
  margin-left: -25px;
}
.left h2 {
  font-family: "EB Garamond", serif;
  font-size: 35px;
  font-weight: 500;
  color: #ff9a9c;
  text-align: center;
}
.left .input {
  margin-top: 20px;
}
.left .input input {
  width: 350px;
  height: 50px;
  margin-top: 25px;
  outline: none;
  font-family: "EB Garamond", serif;
  border: 1px solid #f7f7f7;
  border-radius: 30px;
  background-color: #f7f7f7;
  padding-left: 20px;
  letter-spacing: 1px;
}
.left .radio {
  margin: 25px 15px;
}
.left span {
  color: #999999;
  font-weight: 100;
  font-family: "EB Garamond", serif;
}
.left span a {
  color: #ff9a9c;
  font-weight: 500;
  transition: color 0.5s ease-in;
}
.left button {
  width: 140px;
  height: 55px;
  background-color: #ff9a9c;
  color: white;
  border: 1px solid #ff9a9c;
  border-radius: 35px;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-top: 15px;
  cursor: pointer;
}
.left :nth-child(5) {
  margin-left: 15px;
}
.left span a:hover {
  color: #fe5658;
}
.left button:hover {
  animation: shake 0.6s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
